body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.6)  url(https://newevolutiondesigns.com/images/freebies/4k-car-wallpaper-3.jpg);
    background-position: center;
    background-blend-mode: darken;
    color: white;
}
.ti {
    font-family: Arial, Helvetica, sans-serif;
}
.btc {
    font-weight: bold;
}
.regen {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}
.regen:hover {
    color: blue;
    text-decoration: none;
    transition: 0.4s;
} 
.tel {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.mail {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
@media all and (max-width: 500px) {
    body {
        background-repeat: no-repeat;
        background-position: center;
    }
}