body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.7)  url(https://newevolutiondesigns.com/images/freebies/4k-car-wallpaper-3.jpg);
    background-position: center;
    background-blend-mode: darken;
    color: white;
}
.ti {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.regen {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}
.regen:hover {
    color: blue;
    text-decoration: none;
    transition: 0.4s;
} 
.mlink {
    position: absolute;
    margin-left: 1050px;
}
li {
    float: left;
    margin-left: 30px;
    font-size: 18px;
}
.cnt {
    color: white;
    transition: 0.7s;
}
.dnt {
    color: white;
    transition: 0.7s;
}
.gh {
    color: white;
    transition: 0.7s;
}
.lct {
    color: white;
    transition: 0.7s;
}
.cnt:hover {
    color: aqua;
    transition: 0.7s;
}
.dnt:hover {
    color: aqua;
    transition: 0.7s;
}
.gh:hover {
    color: aqua;
    transition: 0.7s;
}
.lct:hover {
    color: aqua;
    transition: 0.7s;
}
.downloadb {
    position: absolute;
    margin-top: 80px;
    padding: 10px;
    color: white;
    background-color: black;
    transition: 0.7s;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 4.5px;
}
.downloadb:hover {
    color: white;
    background-color: transparent;
    transition: 0.7s;
}

@media all and (max-width: 500px) {
    body {
        background-repeat: no-repeat;
        background-position: center;
    }
}